<a href="https://colab.research.google.com/github/vanlee913/bigdata/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [6]:
a <- 5
b <- 3.8
c <- -1

In [5]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [8]:
#確認資料型態1

is.numeric(a)
is.numeric(b)
is.numeric(c)

[1] TRUE

[1] TRUE

[1] TRUE

In [10]:
#確認資料型態2

is.integer(a)
is.integer(b)
is.integer(c)

[1] FALSE

[1] FALSE

[1] FALSE

In [15]:
#字串

d <- "Hello"
e <- "Hi"

In [16]:
str(d)
str(e)

 chr "Hello"
 chr "Hi"

In [23]:
#陣列

f <- c(5,4,3,2,1)
g <- c("John","Jason","Ben")  #建立陣列

In [24]:
f[2]
g[3]
g[c(1,2)]

[1] 4

[1] "Ben"

[1] "John"  "Jason"

In [30]:
#陣列

h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

In [31]:
h*i
h^3
i > 5

[1]  2  6 12 20 30 42 56 72 90

[1]   1   8  27  64 125 216 343 512 729

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [28]:
#類別變數(factor)

gender <- c("男","女","男","男","女","中")
gender

[1] "男" "女" "男" "男" "女" "中"

In [29]:
gender <- factor(gender)
gender
levels(gender)  #依少到多排序

[1] 男 女 男 男 女 中
Levels: 中 女 男

[1] "中" "女" "男"

In [34]:
#矩陣

j <- matrix(c(1:6), nrow = 3, ncol = 2)  #建立3ｘ2的矩陣，並填入1～6的值
j
k <- matrix(c(7:12), nrow = 2, ncol = 3)　　#建立2ｘ3的矩陣，並填入7～12的值
k

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [35]:
#矩陣查值

j[2,2]
j[2,]
j[,2]

[1] 5

[1] 2 5

[1] 4 5 6

In [ ]:
#建立資料框(data frame)

tem <- data.frame(Student_ID=c(1,2,3,4,5)),
          name=c("Helen","Lun","Leon","Kevin","Tommy"),
          score=(80,36,88.9,97.5,60)
tmp    #資料框型態

In [44]:
install.packages("SportsAnalytics")

library(SportsAnalytics)
NBA1516 <- fetch_NBAPlayerStatistics("15～16")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in file(file, "rt"):
“cannot open URL 'http://dougstats.com/15～16RD.txt': HTTP status was '404 Not Found'”

ERROR: ignored

In [45]:
str(NBA1516)

ERROR: ignored